[Unit]
Description=finance-app
After=network.target

[Service]
ExecStart=/usr/bin/java -jar /opt/finance-app.jar

[Install]
WantedBy=multi-user.target
